faiss-cpu==1.8.0
fitz==0.0.1.dev2
langchain==0.1.17
langchain-chroma==0.1.0
langchain-community==0.0.37
langchain-core==0.1.52
langchain-openai==0.1.6
langchain-text-splitters==0.0.1
langchainhub==0.1.15
langsmith==0.1.54
openai==1.26.0
PyMuPDF==1.24.4
PyMuPDFb==1.24.3
python-dotenv @ file:///Users/cbousseau/work/recipes/ci_py311/python-dotenv_1677924884036/work
